@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Druk Wide Bold";
  src: url("/src/assets/fonts/DrukWide-Super-Trial.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

.icon {
  /* width: 10%; */
  height: 10%;
}
