@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Druk Wide Bold";
  src: url("/src/assets/fonts/FontsFree-Net-Druk-Wide-Bold.woff")
    format("woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  overflow-x: hidden;
  width: 100vw;
}
